<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${menu}"> <!-- th:object="${menu} binds the menu object to the
 form - this gives us good validation features and sometimes allows us to generate the specific form input type from
 the field properties of that object -->
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}" /> <!-- this form has 1 field -->
            <span th:errors="*{name}" class="error"></span>
        </div>

        <input type="submit" value="Create Menu" />
    </form>

    </body>
    </html>

<!-- -->