<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheese.size()}"><i>There no cheeses in this menu. You should add some cheeses.</i></p>

    <ul>
           <li th:each="cheese : ${cheeses}" th:text="${cheese.name}"></li> <!--should it loop through cheese in menu.cheese instead of cheese in cheeses? -->
       </ul>

<p><a th:href="'/menu/add-item/' + ${menu.id}">Click to Add a Cheese to this Menu</a></p> <!-- had menuId from video, menu.id in instructions    -->

    <!-- The viewMenu method should render the view.html template. Let's build that template now.

Create view.html in the folder that contains your other templates associated with this controller. It should display the name of the menu as the page title. It should display a list of menu items in a <ul> element. Note that you'll need to loop over menu.cheeses (here we assume you've passed in the menu with the attribute name menu; if not, modify accordingly).

Below the list, add the following link:

<p><a th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a></p>
This will link to a form that we are about to create.

   -->

</body>
</html>